<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Management System</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="shortcut icon" href="https://cdn.pixabay.com/photo/2019/08/11/18/59/icon-4399701_640.png" type="image/x-icon">
</head>
<body>
  <div id="main">
    <nav>
  <a href="/">Home</a>
  <a href="/register">Add New Contact</a>
  <a href="/allcontacts">View All Contacts</a>
</nav>
<div class="container">
  <div class="leftc"><h1>This is a Contact Management System</h1></div>
  <div class="rightc"><img src="https://cdn.pixabay.com/photo/2017/12/02/14/38/contact-us-2993000_1280.jpg" alt="">
    <p>Manage your contacts efficiently and effortlessly</p></div>
</div>
</div>
</body>
</html>