<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>
        input {
            padding: 10px 20px;
        }

        button {
            padding: 10px 16px;

        }
    </style>
</head>

<body>
    <div class="register-container">
        <form action="/register" method="post">
            <label for="">Full Name</label>
            <input type="text" name="name" placeholder="Enter Full Name" required>
            <label for="">Mobile Number</label>
            <input type="number" name="number" placeholder="Enter Mobile Number" required>
            <button>Save</button>
        </form>
    </div>
</body>

</html>